div#CdM {
  div.body {
    div.asistencias {
      display: grid;
      grid-template-areas: "header header header"
        "confirmed absent pending";
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      height: fit-content;

      header {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 60px;
        box-sizing: border-box;
        border-bottom: 1px solid #dadce0;
        margin-bottom: 20px;
      }

      div.list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        min-height: fit-content;
        height: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        border: 1px solid #dadce0;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
        border-radius: 8px;

        h2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: 'Rubik', sans-serif;
          font-weight: 500;
        }

        div.counter {
          font-size: 0.9em;
          font-weight: 400;
          margin: -1.4em 0 0 0;
        }

        i.fa-regular {
          font-size: 1.145em;
        }

        &.confirmed {
          grid-area: confirmed;

          i.fa-regular {
            color: rgb(18, 160, 18);
          }
        }

        &.absent {
          grid-area: absent;

          i.fa-regular {
            color: red;
          }
        }

        &.pending {
          grid-area: pending;

          i.fa-regular {
            color: #fa3;
          }
        }
      }
    }
  }
}