.guild-resume-name .name, .sidebar ul li a .title, .sidebar .section .title, .section ul a .name {
  transition: opacity 0.2s ease-in;
}
/* NEW SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  top: 80px;
  bottom: 0px;
  padding-top: 10px;
  width: 300px; 
  background-color: var(--navBgColor);
  overflow: hidden;
  border-right: 1px solid var(--lineColor);
  z-index: 99999;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: width 0.2s ease-in;
  box-sizing: border-box;
}
/* Sidebar Scroll Bar */
.sidebar::-webkit-scrollbar {
  width: 0.1vh;
}
.guild-resume .name, .sidebar ul li a .title, .sidebar .section .title, .section ul a .name {
  transition: opacity 0.2s ease-in;
}
.guild-resume {
  position: relative;
  background: var(--pageBgColor);
  width: 280px;
  margin: 0px auto;
  display: flex;
  height: 60px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
}
.guild-resume .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0;
  position: relative;
}
.guild-resume .name {
  position: relative;
  height: fit-content;
  width: -webkit-fill-available;
  font-weight: bold;
  font-size: 26px;
  justify-content: start;
  transition: opacity 0.2s ease-in;
  margin-left: 16px;
}
.sidebar ul {
  width: -webkit-fill-available;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
  padding: 0px 20px;
}
.sidebar ul > li a {
  display: flex;
  gap: 10px;
  width: -webkit-fill-available;
  color: white;
  align-items: center;
  border-radius: 30px;
  text-decoration: none;
}
.sidebar > ul > li.menu > a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}
.sidebar > ul > li a svg {
  min-width: 30px;
  height: 30px;
}
.sidebar > ul > li a i {
  font-size: 22px;
}
.sidebar > ul > li a > div {
  font-size: 20px;
  justify-content: start;
  width: -webkit-fill-available;
  font-weight: 600;
  color: rgb(140, 143, 167);
}
.sidebar > ul > li:hover a > div {
  font-size: 20px;
  justify-content: start;
  width: -webkit-fill-available;
  font-weight: 600;
  color: white;
}
/* Auto Hide Sidebar */
@media (max-width: 1000px) {
  nav.sidebar {
      width: 80px;
      align-items: center;
      gap: 20px;
  }
  nav.sidebar ul li.menu > a, nav.sidebar ul li div, nav.sidebar .guild-resume .name {
      display: none
  }
  nav.sidebar .guild-resume {
    width: 60px;
  }
  .body {
      width: calc(100% - 160px);
      left: 80px;
  }
  nav.sidebar ul {
      border-top: 1px solid var(--pageBgColor);
      padding: 20px 0 0 0;
      width: 40px;
      margin: 0;
      gap: 20px;
  }
  nav.sidebar ul li a {
      display: flex;
      justify-content: center;
      border-radius: 30px;
      padding: 0;
  }
}