main.automod {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	&>div.sandbox {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&>div.actionContainer {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 780px;
			gap: 10px;

			&>div.action {
				display: flex;
				flex-direction: row;
				height: 100%;
				width: 700px;
				padding: 10px 10px;
				box-sizing: border-box;
				background: #2f3136;
				border-radius: 4px;
				margin: 0;
				height: 50px;
				align-items: center;
				gap: 8px;

				div.type {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					height: 30px;
					color: white;
					text-align: center;
					width: 60px;
					box-sizing: border-box;
					font-size: 16px;
					font-weight: 600;
					cursor: pointer;

					div.select {
						width: 100%;
						height: 100%;
						box-sizing: border-box;
						border-radius: 4px;

						ul.options {
							&::-webkit-scrollbar {
								width: 0px;
							}
						}

						&[data-value='ban'] {
							background: rgb(237, 66, 69);
						}

						&[data-value='kick'] {
							background: rgb(237, 66, 69);
						}

						&[data-value='mute'] {
							background: rgb(46, 182, 222);
						}

						&[data-value='warn'] {
							background: rgb(250, 166, 26);
						}

						div.defaultValue {
							pointer-events: none;
						}
					}

					&:focus {
						outline: none;
					}

					div.selected {
						text-transform: capitalize;
					}

					ul.options {
						option {
							&:hover {
								background: rgba(0, 0, 0, 0.2);
							}
						}
					}
				}

				span.text {
					font-size: 16px;
					font-weight: 500;
					color: #aaa;
				}

				div.infractions {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					height: 30px;
					color: white;
					text-align: center;
					box-sizing: border-box;
					font-size: 16px;
					font-weight: 600;
					cursor: pointer;
					background: #eee;
					border-radius: 4px;

					div.select {
						font-size: 16px;
						font-weight: 600;
						color: #2f3136;

						ul.options {
							&::-webkit-scrollbar {
								width: 0px;
							}
						}
					}
				}

				div.time {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					height: 30px;
					color: white;
					text-align: center;
					box-sizing: border-box;
					width: fit-content;
					font-size: 16px;
					font-weight: 600;
					cursor: pointer;
					gap: 6px;

					div.select {
						font-size: 16px;
						font-weight: 600;
						height: 100%;
						color: #2f3136;
						background: #eee;
						border-radius: 4px;

						ul.options {
							&::-webkit-scrollbar {
								width: 0px;
							}
						}
					}
				}
			}

			span.delete {
				visibility: hidden;
				i {
					pointer-events: none;
				}
			}

			&:hover {
				span.delete {
					visibility: visible;

					&:hover {
						background: rgba(0, 0, 0, 0.6);
					}
				}
			}
		}

		div.addAction {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 30px;
			color: white;
			text-align: center;
			width: 700px;
			box-sizing: border-box;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;
			background: none;
			border: 1px dashed #888;
			border-radius: 4px;
			height: 50px;
			align-items: center;
			gap: 8px;
			transition: 0.2s;

			&:hover {
				background: rgba(0, 0, 0, 0.2);
			}
		}
	}
}