.team-page {
  padding: 20px;
}
.team-page div.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.team-page a.card div.card, .team-page a.card {
  flex-direction: column;
  display: block;
  background-color: var(--navBgColor);
  border-radius: 10px;
  width: 400px;
  height: fit-content;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  gap: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
}
.team-page .card .header {
  display: flex;
  flex-direction: row;
  gap: 14px;
  height: 80px;
  margin: 0;
  box-sizing: border-box;
  margin-left: 10px;
}
.team-page .card .header img.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 6px solid var(--navBgColor);
  transform: translateY(-20px);
  margin: 0;
  user-select: none;
  padding: 0;
}
.team-page .card div.banner {
  height: 160px;
  overflow: hidden;
}
.team-page .card div.banner img.banner {
  position: relative;
  width: 400px;
  height: fit-content;
  box-sizing: border-box;
  user-select: none;
  display: block;
  border-radius: 10px 10px 0px 0px;
}
.team-page .card .header .user {
  height: 60px;
  padding: 10px 0px;
}
.team-page .card .header .user h2 {
  font-size: 26px;
  margin: 0;
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.team-page .card .header .user h2.role {
  color: rgb(184, 180, 180);
  font-weight: 500;
  text-decoration: none;
}
.team-page .card hr {
  height: 1px;
  background: var(--lineColor);
  border: none;
  margin: 10px;
}
.team-page .card p.bio {
  padding: 0px 20px 20px 20px;
  margin: 0;
  color: white;
}