footer {
    display: flex;
    flex-direction: column;
    background-color: var(--navBgColor);
    color: var(--textColor);
}
footer > .background {
    display: block;
    width: 100%;
    height: 120px;
    background-color: var(--pageBgColor);
}
footer > .background path {
    fill: var(--navBgColor);
    fill-opacity: 0.5;
}
footer > .background path.main-wave {
    fill-opacity: 1;
}
footer > .footer-body {
    display: grid;
    grid-template-columns: 10fr 2px 10fr;
    margin: 0px 20px 20px 20px;
}
footer .line{
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    margin: 0 auto;
    background-color: white;
}
footer .footer-body div{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
footer .footer-body .information {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}
footer .footer-body .information div{
    align-items: left;
    display: block;
    flex-direction: column;
}
footer h1 {
    margin: 0px;
    font-size: 20px;
    user-select: none;
}
footer ul {
    display: block;
    padding: 0;
    margin: 0;
}
footer ul li {
    display: block;
    padding: 0 0 5px 0;
}
footer ul li a {
    color: rgb(101, 99, 121);
    text-decoration: none;
    user-select: none;
    font-weight: 600;
}
footer ul li a:hover {
    color: rgb(166, 164, 185);
}
div.copyright {
    font-size: 16px;
    padding: 3px;
    text-align: center;
    color: rgb(118, 126, 172);
    user-select: none;
}
/* Language Selector */
details.language-selector {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    user-select: none;
}
summary {
    background-color: rgb(21 21 30);
    height: 30px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
}
summary::marker {
    color: white;
}
details ul.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
    width: -webkit-fill-available;
    height: fit-content;
    padding: 10px;
    align-items: center;
    background-color: rgb(21 21 30);
    border-radius: 10px;
}
details li.language {
    height: 30px;
    width: -webkit-fill-available;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
div.item {
    display: flex;
    flex-direction: row;
    
    gap: 10px;
}
.country {
    width: fit-content;
    display: content;
    text-align: end;
}
details .flag svg {
    position: relative;
    display: block;
    size: 40px;
    width: 30px;
    height: 20px;
    border-radius: 4px;
}