div.embed .stats-container {
  display: flex;
  position: relative;
  height: fit-content;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
.embed .guild-header {
  height: 92px;
  width: -webkit-fill-available;
  display: flex;
  gap: 20px;
  flex-direction: row;

}
div.info {
  display: grid;
  margin: 0;
  grid-template-rows: 50% 50%;
  position: relative;
  height: 92px;
  width: -webkit-fill-available;
}
div.embed div.title {
  position: relative;
  width: fit-content;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}
div.embed div.title .name {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  height: 46px;
}
/* Badges */
div.embed .title > div.badge {
  height: 46px;
  width: fit-content;
  position: relative;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
div.embed .title div.badge svg {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
}

div.embed .title div.badge svg path {
  text-align: center;
  width: 20px;
  height: 20px;
}
div.embed svg.verified path.star {
  fill: #3ba55d;
}
div.embed svg.partnered path.star {
  fill: #5865f2;
}
div.embed svg path.icon {
  fill: white;
}
/* Description */
div.embed div.description {
  position: relative;
  width: -webkit-fill-available;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: lightgray;
}
div.embed .stats-container img.icon {
  position: relative;
  height: 80px;
  border: 6px solid var(--navBgColor);
  width: 80px;
  border-radius: 50%;
  margin: 0;
}
div.embed ul {
  height: fit-content;
  position: relative;
  margin: 0;
  list-style: none;
  padding: 0;
}
/* Nitro Progress Bar */
.progress-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progress-bar header {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.progress-bar .nitro {
  position: absolute;
  left: .05px;
  top: -.05px;
  right: 0;
  bottom: 0;
  display: flex;
  width: 20px;
  height: 20px;
}
.progress-bar .icon {
  position: absolute;
  left: .05px;
  right: 0;
  top: -.02px;
  bottom: 0;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.progress-bar .icon g {
  fill: hsl(302,calc(1*100%),72.5%);
}
.progress-bar header div b.goal {
  margin-left: 28px;
}
.progress-bar header .count {
  color: #b9bbbe;
}
.progress-bar .goal, .progress-bar .count {
  width: fit-content;
  margin: 0;
  height: 20px;
  align-items: center;
  display: flex;
}
.progress-bar .bar {
  width: 100%;
  background: #18191c;
  height: 8px;
  border-radius: 4px;
}
.progress-bar .bar .progress {
  height: 8px;
  position: absolute;
  border-radius: 4px;
  background: -webkit-gradient(linear,left top,right top,from(hsl(221,calc(1*70%),55.5%)),to(hsl(269,calc(1*83.8%),71%)));
}
@media (max-width: 450px) {
  .progress-bar header {
      flex-direction: column;
      align-items: center;
  }
  .progress-bar .goal {
      flex-direction: column;
      height: 50px;
  }
  .progress-bar header div b.goal {
      margin-left: 0px;
      margin-top: 24px;
      z-index: 2;
  }
  .progress-bar .nitro, .progress-bar .icon {
      width: 100%;
  }
}
/* Assets */
.assets {
  gap: 20px;
  display: flex;
  width: fit-content;
  height: fit-content;
}
.assets div {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.assets div .title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
}
div.assets div img {
  gap: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;
  margin: 0;
}
@media (max-width: 900px) {
  div.assets {
      flex-direction: column;
  }
  div.assets div {
      width: 100%;
  }
  .assets div .title {
      justify-content: left;
  }
}
/* Default List */
div.embed div.emojis .container, div.embed div.stickers .container, div.embed div.roles .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  background: var(--pageBgColor);
  border-radius: 10px;
}
div.embed div .title {
  font-weight: 600;
  font-size: 14px;
  position: relative;
}
/* ID */
div.id {
  display: flex;
  height: 60px;
  gap: 10px;
  align-items: end;
}
div.id .container h4 {
  position: absolute;
  transform: translateY(-24px);
  margin: 0;
  text-transform: uppercase;
  background: var(--navBgColor);
  padding: 0px 6px;
  left: 14px;
}
div.id .container{
  height: calc(50px - 16px - 6px);
  display: flex;
  align-items: center; 
}
div.id button {
  height: 50px;
  margin: 0;
  display: flex;
  background: none;
  align-items: center; 
}
div.id .container, div.id button {
  border: 3px solid var(--pageBgColor);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 8px;
  font-size: 18px;
}
/* Emoji List */
div.emojis {
  position: relative;
  margin:0;
}
.emoji {
  max-height: 20px;
  width: 20px;
  object-fit: contain;
}
/* Sticker List */
div.stickers {
  position: relative;
  margin:0;
}
.sticker {
  width: 90px;
  background: #6161735c;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  height: fit-content;
  gap: 10px;
  align-items: center;
}
.sticker img.image {
  max-height: 70px;
  width: 70px;
  max-width: 70px;
  height: 70px;
  object-fit: contain;
}
.sticker .name {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  text-align: center;
  width: fit-content;
}
/* Emoji Role */
div.roles {
  position: relative;
}
span.role {
  display: flex;
  padding: 4px;
  height: 24px;
  box-sizing: border-box;
  width: fit-content;
  background: var(--navBgColor);
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid;
  align-items: center;
}
span.color {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  border-radius: 7px;
}
span.name {
  position: relative;
  margin: 0 4px;
}
@media (max-width: 700px) {
  .roles, .stickers {
      display: none;
  }
}
div.owner {
  display: flex;
  height: 30px;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
}
div.owner img {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  box-sizing: border-box;
}
div.owner div {
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
}
div.owner svg {
  height: 18px;
  width: 18px;
  display: flex;
  fill: #faa81a;
  align-items: center;
}