/*
background: #fff;
*/

html:has(div#CdM) {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  min-height: 100vh;
  box-sizing: border-box;
  height: 100%;
  scrollbar-gutter: stable;
  background: none;
  width: 100vw;

  body {
    background: none;
  }
}

html:has(div#CdM):root {
  --verdClaret: rgb(149, 197, 154);
  color: black;
}

html::-webkit-scrollbar {
  width: 6px;
  background: none;
}

html::-webkit-scrollbar-track {
  background: none;
  width: 6px;
  margin-top: 80px;
  box-shadow: inset 0 9px 4px -7px rgba(0 0 0 / 10%);
}

html::-webkit-scrollbar-thumb {
  background: var(--verdClaret);
  border-radius: 10px;
}

html::-webkit-scrollbar * {
  background: transparent;
}

div#CdM {
  background: #fff;
  min-height: 100vh;
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  scrollbar-gutter: stable;

  a:-webkit-any-link {
    text-decoration: none;
  }

  & ::selection {
    color: white;
    background: var(--verdClaret);
  }

  &>div.body {
    margin-top: 80px;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
  }

  &:has(div#CdM):root {
    --verdClaret: rgb(149, 197, 154);
    color: black;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}