.hihlighted-box {
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 10px;

	&.tag {
		border-left: 5px solid;
	}

	&.box {
		border: 2px solid;
	}

	&.default {
		border-color: grey;
		background-color: rgba(100, 100, 100, 0.3);
	}

	&.red {
		border-color: rgba(200, 50, 50);
		background-color: rgba(200, 50, 50, 0.3);
	}

	&.green {
		border-color: rgb(76, 194, 30);
		background-color: rgba(76, 194, 30, 0.3);
	}

	&.yellow {
		border-color: rgb(218, 221, 27);
		background-color: rgba(218, 221, 27, 0.3);
	}
}

/* page-section 1 */
.App>.main-page {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	grid-template-columns: 3fr 4fr;
	justify-items: center;
	margin: 50px 100px 50px 100px;
	min-height: 100vh;
}

.main-page .presentation {
	display: flex;
	height: fit-content;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 400px;

	img {
		width: 400px;
		height: 400px;
	}

	.information {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1.name {
			font-size: 60px;
			font-weight: 900;
			color: #fff;
			letter-spacing: 4px;
		}

		.buttons {
			display: flex;
			gap: 20px;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			button {
				font-family: 'Rubik', sans-serif;
				border-radius: 25px;
				padding: 0px;
				color: var(--pageBgColor);
				cursor: pointer;
				font-weight: 700;
				box-sizing: border-box;
				align-items: center;
				justify-content: center;
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 20px;
				height: 50px;
				width: 140px;
				box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
				transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
				border: none;

				&.addme {
					background-color: #5865F2;
				}

				&.dashboard {
					background-color: #30b359;
				}

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}

/* Features */
ul.features {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 40px;

	li.feature {
		display: flex;
		align-items: center;
		justify-content: center;
		height: fit-content;
		width: 100%;
		gap: 20px;

		&:nth-child(2n) {
			flex-direction: row-reverse;

			div.description {
				text-align: right;
			}
		}

		div {
			width: 50%;
		}
	}
}

@media (max-width: 768px) {
	.App div.main-page {
		margin: 20px;
	}

	.main-page .presentation {
		flex-direction: column-reverse;

		img {
			width: 90vw;
			height: 90vw;
		}

		.information {
			.buttons {
				flex-wrap: wrap;
			}
		}
	}

	ul.features {
		flex-direction: column;
	}

	ul.features li.feature,
	ul.features li.feature:nth-child(2n) {
		flex-direction: column;
		text-align: center;

		div {
			width: 100%;
		}
	}
}