.hihlighted-box {
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hihlighted-box.tag {
  border-left: 5px solid;
  background-color: rgba(76, 194, 30, 0.3);
}
.hihlighted-box.box {
  border: 2px solid;
  background-color: rgba(76, 194, 30, 0.3);
}
.hihlighted-box.default {
  border-color: grey;
  background-color: rgba(100, 100, 100, 0.3);
}
.hihlighted-box.red {
  border-color: rgba(200, 50, 50);
  background-color: rgba(200, 50, 50, 0.3);
}
.hihlighted-box.green {
  border-color: rgb(76, 194, 30);
  background-color: rgba(76, 194, 30, 0.3);
}
.hihlighted-box.yellow {
  border-color: rgb(218, 221, 27);
  background-color: rgba(218, 221, 27, 0.3);
}
.hihlighted-box .dev {
  font-weight: bold;
}
/* page-section 1 */
.main-hello {
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-items: center; 
}
.main .presentation {
  display: flex;
  gap: 40px;
  height: 300px;
  align-items: center;
  justify-content: center;
}
/* Ukraine */
div.ukraine {
  width: 100%;
  height: 100px;
  background: linear-gradient(145deg, #005BBB 50%, #FFD500 50%);
  border: 2px solid rgb(56, 57, 66);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
  border-radius: 8px;
  overflow: hidden;
}
div.ukraine div.background {
  width: 100%;
  height: 100px;
  background-color: linear-gradient(145deg, #005BBB 50%, #FFD500 50%);
  
}
div.ukraine div.background:hover {
  background-color: linear-gradient(145deg, #005BBB 30%, #FFD500 30%); /* Firefox */
  -moz-transition: background-color 1s ease-in;
  /* WebKit */
  -webkit-transition: background-color 1s ease-in;
  /* Opera */
  -o-transition: background-color 1s ease-in;
  /* Standard */
  transition: background-color 1s ease-in;
}
